<div class="container px-0">
	<div class="card">
		<div class="card-header bg-info">
			<span class="float-left text-light">Personal details</span>
		</div>
		<div class="card-body">
			<div class="row pt-3">
				<label for="prefix" class="col-sm-2 col-form-label">Prefix</label>
				<label class="col-sm-2 form-control-plaintext"><b>{{trustee.prefix}}</b></label>

				<label for="isClientLiving" class="col-sm-2 col-form-label">Is Client Living?</label>
				<label class="col-sm-2 form-control-plaintext"><b>{{trustee.clientLivingState}}</b></label>

				<label for="countryOfResidence" class="col-sm-2 col-form-label">Country of Residence</label>
				<label class="col-sm-2 form-control-plaintext"><b>{{trustee.countryOfResidence}}</b></label>
			</div>

			<div class="row pt-3">
				<label for="firstName" class="col-sm-2 col-form-label">First Name</label>
				<label class="col-sm-2 form-control-plaintext"><b>{{trustee.firstName}}</b></label>

				<label for="middleName" class="col-sm-2 col-form-label">Middle Name</label>
				<label class="col-sm-2 form-control-plaintext"><b>{{trustee.middleName}}</b></label>

				<label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
				<label class="col-sm-2 form-control-plaintext"><b>{{trustee.lastName}}</b></label>
			</div>
			<div class="row pt-3">
				<label for="ssn" class="col-sm-2 col-form-label">SSN</label>
				<label class="col-sm-2 form-control-plaintext"><b>{{trustee.ssn}}</b></label>

				<label for="passport" class="col-sm-2 col-form-label">Passport</label>
				<label class="col-sm-2 form-control-plaintext"><b>{{trustee.passport}}</b></label>

				<label for="issuanceDate" class="col-sm-2 col-form-label">Issuance Date</label>
				<label class="col-sm-2 form-control-plaintext"><b>{{trustee.issuanceDate}}</b></label>
			</div>
		</div>
	</div>
</div>